body {
    background-image: 
    radial-gradient(
      farthest-corner circle at 100% 0% in oklab, 
      oklch(80% .4 222) 0%, oklch(35% .5 313) 100%
    );
    background-size: cover;
}

.container>.card{
    height: 100%;
}
.alert {
    position: fixed;
    bottom: 0;
    right: 0;
    display: none;
}
.results{
    font-size: 1rem;
    color:black;
    z-index: 100;
}